@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap");
/* @import 'react-alice-carousel/lib/alice-carousel.css'; */
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --light: #fffffc;
  --main: rgb(238, 188, 29);
  --dark: rgb(20, 22, 26);
  --very-dark: #000;

  --grey: #4c5b5c;
  --primary: #ff7f11;
  --alert: #ff1e2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* color: var(--dark); */
}
a {
  text-decoration: none;
  color: var(--light);
  color: var(--main);
}
.App {
  background-color: var(--dark);
  min-height: 100vh;
}
body {
  margin: 0;
}


