.coins_info {
  color: #fff;
}

/* ButtonDays component */

.ButtonDays {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.ButtonDays button {
  padding: 10px;
  margin: 10px;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: var(--dark);
  background: var(--main);
  font-size: 1.3rem;
  font-weight: bold;
  transition: .3s;
}

.ButtonDays button:hover {
    background: var(--very-dark);
    color: var(--light);
    border:1px solid var(--main);
}
 

@media (max-width: 600px) {
  .ButtonDays {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
    .ButtonDays button {
    width: 40%;
  }
}
.bb{
  background: var(--very-dark)!important;
  color: var(--light)!important;
  border:1px solid var(--main)!important;
}
 